@import "var";

.Section_panel{
    transition: all 1s ease-in;
  background: none;
    padding: 95px 25px 0 250px;
    height: auto;
	 // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.sectionBtn{
	padding: 11px 30px;
	border: 1px solid gray;
	font-size: 15px;
	font-weight: 400px;
	color: #797979;
	display: block;
	margin: 0 auto;
	text-align: center;
	margin-bottom: 30px;
	transition: all 0.3s ease-in;

}
.button_row{
  background: white;
  width: 120px;
  padding: 0 !important;
}
.sectionBtn:hover{
	color: black;
}
.mainTittle{
	top: 40%;
	left:25%;
	position: absolute;
	transform: translate(50%, 50%);
	font-size: 30px;
font-weight: 800;
}
.title{
	font-size: 15px;
font-weight: 500;

}
.form-control{
	border-radius: 0px !important;
}

#slider_table{
	position: relative;

}
.action{
	float: right;
	text-align: right;
}
.btn-success,.btn-danger,.btn-default{
	padding: 6px 12px;
	width: 120px;
	border-radius: 0 !important;
	background: white;
	color: black ;
	outline: black;
	border: 1px solid #ccc;
}



.upload_image_table th{
	margin-bottom: 15px;
}
.upload_image_table td{
	margin-bottom: 15px;
}
.blog_body_design{

}
.conten_main_body{
	float: left;
}
.edit_delete_button{
	float: right;
}
#blog_image{
	margin-top: 15px;
}
.sub li{
	margin-left: 35px !important;
	margin-top: 10px;
}

ul.sidebar-menu li a.active .sub{
	display: block !important;
}


.pull-right {
   float: unset !important;
    position: absolute !important;
    right: 30px;
    top: 10px;
}
.userbutton {
    right: 0;
    left: auto;
    padding: 15px;
}
.user_logout_button{
	border-radius: 0 !important;
background: $hover;
color: white !important;
padding: 7px 20px !important;
}

.padding_left_block{
  transition: all 1 ease-in;
  padding:95px  35px 30px!important;
  .mainTittle{
    left: 30% !important;
  }

}
.TZ_Main_Tittle{
  margin: 0;
    background: $hover;
    padding: 15px 15px;
    color: white;
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
    display: flex;
    flex-direction: row;
    position: relative;
    height: 65px;
    justify-content: center;
        h3{
          margin: 0;
          position: absolute;
          left: 15px;
              top: 20px;
        }
        .form-group{
          margin: 0;
          position:absolute;
          right: 15px;
        }
}
.title{
  text-transform: capitalize;
  font-size: 20px;
    font-weight: 600;
}
.TZ_Box_Wrapper{
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
        height: 75vh;
            padding: 30px;
            margin-top: 30px;
            overflow-y: scroll;

            .global_hover{
              &:hover{
                background: $hover;
                color: white;
                box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
                border: none;
              }
            }

.single_item{
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
margin-bottom: 20px;
background: #190d38ad;
position: relative;
color: white;
height: auto;
    overflow: hidden;
h3{
  font-size: 16px;
font-weight: 800;
text-transform: capitalize;
}

.edit_delete_button{
  position: absolute;
right: 0;
top: 50%;
transform: translate(-50%, -50%);
}
.edit, .delete {
    font-size: 20px;
    color: white;
}
.edit:hover{
  color: #337ab7;
}
.delete:hover{
  color: #d9534f;
}

}
}

.checbox_image{
  float: right;
}


.checbox_image{

  .container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 14px;
margin: 30px auto;
width: auto;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: $hover;
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}


/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 6px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
}


.upload_image_table{
   td{
    width: 100%;
padding-right: 30px;
margin-bottom: 0;
  }
  input[type=file] {
    display: block;

}

input,button{
  margin-bottom: 30px;
}
}


.upload_image_table th:nth-child(2) {
    margin-bottom: 15px;
    padding-right: 45px;
}
.upload_image_table td:nth-child(2){
  padding-right: 0
}

#slider_table{
  width: 100%;
    tbody{

    }
}

.image_list_block_old{
  img{
    width: 100% !important;
  }
}

.update:hover{
  background: $success;
  color: white;
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
}
.modal-backdrop.in{
  opacity: 0 !important;
  display: none !important;
}

.modal.in .modal-dialog{
  transform: translate(0,25%) !important;
}
.modal{
      background: rgba(0,0,0,0.5) !important;
}
.ml30{
  margin-left:30px;
}
.section_image_list{
  .mCSB_inside>.mCSB_container{
    margin-right: 20px !important;
  }
}
.buttonImportant{
  float: left;

margin: 10px 15px 40px;
width: 100%;
border-bottom: 1px solid rgba(0,0,0,0.22);
.edit, .delete {
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 15px
}
  .edit{
    color: #337ab7;
    border-color: #337ab7;

    &:hover{
      color: $edit_color_hover;
      border-color: $edit_color_hover;
    }
  }

  .delete{
    color: #d9534f;
    border-color: #d9534f;


        &:hover{
          color: $delete_color_hover;
          border-color:$delete_color_hover;
        }

  }
}
.pr0{
  padding-right: 0
}
.login_box_wrapper{
  background: transparent;
  position: absolute;
  top: 60%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 25%;
  padding: 0;
    .card{
      background: transparent !important;

      label{
        padding: 0;
margin-bottom: 10px;
font-size: 15px;
color: white;
      }
      .btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
    border-radius: 0;
    width: 150px;
    float: right;
}
    }
}
.p0{
  padding: 0;
}

.blog_comment_button{
  margin-left: 30px;
  button{
    font-size: 13px;
    padding: 4px 10px;
    margin-bottom: 10px;
  }
}

.search_btn{
  position: absolute;
right: 0;
top: 0;
height: 34px;
i{
  color: black;
font-size: 22px;
}
}

.appointment_table{
  width: 100%;
  tr:first-child{

    height: 35px;
    background: #374e3c;
    color: white;
    padding-left: 10px;
    th{
  text-align: center;
  }
}
  .main_row_content{
    height: 35px;

    .btn-danger{
      width: 100%;
    }
    td{
      padding-left: 10px;
    }

  }

  .main_row_content:nth-of-type(odd){
    background-color:#434e52;
    color: white;
    height: 35px;

  }
  .main_row_content:nth-of-type(even){
    background-color:#5b8c85;
    color: white;
    height: 35px;
  }
}
